
.b-text1{
    font-family: serif;
    color: rgb(255, 255, 255);
    padding-top:50px;
}
.b-text2{
    font-family:serif;
    color:rgb(255, 255, 255);
    
}

.background-img{
    width: 100%;
    height:250px;
    padding-top:10px;
   background-image: url("assets/img/backg.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   
}
.background-text{
    text-align: center;
    margin-top: 60px;
}

.vision{
    background-image:url("assets/img/ourvi.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:50%;
    border: 10px groove;
    padding: 5px;
    margin:10px;
    border-radius: 10px;
    
}
.v-text1{
    margin-top: 5px;
    text-align-last:center ;
    color: rgb(255, 255, 255);
    font-family: serif;
}
.v-text2{
    margin-top:0%;
    margin-left: 20px;
    margin-right: 200px;
    text-align: justify;
    height: 150px;
    padding-top: 30px;
    color: rgb(255, 255, 0);
}
.mission{
    float: right;
    background-image:url("assets/img/ourmi.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:50%;
    border: 10px groove;
    padding: 5px;
    margin:10px;
    border-radius: 10px;
       
}
.m-text1{
    margin-top: 5px;
    text-align-last:center ;
    color: azure;
    font-family: serif;
}
.m-text2{
    margin-top:0%;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    height: 130px;
    padding-top: 30px;
    color: rgb(255, 255, 0);
}
.strength{
    background-image:url("assets/img/ourst.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:50%;
    border: 10px groove;
    padding: 5px;
    margin:10px;
    border-radius: 10px;
    margin-top:280px;    
}
.s-text1{
    margin-top: 5px;
    text-align-last:center ;
    color: azure;
    font-family: serif;
}
.s-text2{
    list-style-position: outside;
    margin-left: 20px;
    height:180px ;
    color: rgb(255, 255, 0);
}
.director{
    float: right;
    background-color:whitesmoke;
    background-size: cover;
    background-position: center;
    width:60%;
    border: 10px groove;
    padding: 5px;
    margin:10px;
    border-radius: 10px;
}
.d-text1{
    margin-top: 5px;
    text-align-last:center ;
    color: black;
    font-family: serif;
}
.d1{
    float:left;
    border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.name1{
    padding-top:50%;
    color: black;
    font-family: serif;
}
.name2{
    padding-top:50%;
    color: black;
    font-family: serif;
}
.name{
    color: black;
    font-family: serif;
}
.person1{
    float: left;
}
.person2{
    float: right;
}
.person3{
    float: left;
    margin-top:100px;
    margin-left:50px;
}
.about{
    padding: 5%;
    margin-top: 570px;
    background-color: rgb(137, 196, 235);
}
.a-text{
    font-weight: bold;
    font-size: 28px;
}
.Description{
    text-align:justify;
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
}


  /*-------------------------- TESTIMONIALS - new ---------------------------------------*/
  .Testimonials-Head {
    margin-top: 5%;
    text-align: center;
    padding: 20px;
  }
  
  .tes-heading{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .tes-description{
    font-size: 16px;
    color: #6e6e6e;
    margin-bottom: 30px;
  }
  .testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
  }
  
  .testimonial-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 3%;
  }
  
  .testimonial-card {
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .testimonial-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -18%;
  }
  
  .customer-name {
    margin-top: 10px;
  }
  
  .testimonial-text {
    font-style: italic;
    font-size: 14px;
    margin-top: 1%;
  }
  

